$font-primary: 'Poppins', sans-serif;

$text-xsm: 1.2rem;
$text-sm: 1.4rem;
$text-md: 1.5rem;
$text-base: 1.6rem;
$text-xl: 2rem;
$text-2xl: 2.4rem;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
