@import 'abstract/index';

.Location {
  @include flex(center, center, 1rem);

  &__Text {
    font-size: $text-sm;
    text-decoration: underline;
    margin: 0 !important;
    font-weight: $medium;
    width: 15rem;
  }

  &__Icon {
    width: 1.7rem;
    height: 2rem;
  }
}
